body{
  display: flex;
  justify-content:center;
}

footer{
  margin-top: 30em;
}

.demo h1 {
  display: block;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
  color: hsl(120, 93%, 29%);
}

.bottom {
  color: #dfdfdf
}

.loader {
  display: inline;
}

.login {
  margin-top: 5em;
}

.login button {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #C2FBD7;
  border-radius: 5em;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;          
  color: hsl(120, 93%, 29%);
  cursor: pointer;
  width: 8em;
  height: 1.6em;
}

input {
  margin-top: 0.5em;
  height: 1.6em;
  margin-bottom: 1em;
  display: block;
}

label {
  font-size: 1.2em;
  font-weight: bold;
}

.demo input {
  display: block;
  margin-bottom: 2em;
  font-size: 1.8em;
  background-color: #C2FBD7;     
  width: 20em;
  height: 1.6em;
}

li {
  margin-top: 2em;
}

#alert {
  color: red;
  margin-bottom: 1em;
}

#message {
  color: blue;
  font-size: 2em;
  margin-bottom: 1em;
}

.value {
  font-size: 1em;
  font-weight: bold;
}

.titel {
  font-size: 1.2em;
}

.medic {
  font-size: 1.4em;
  color: blue;
}
