body{
  display: flex;
  justify-content:center;
  align-items:center;
}

footer{
  margin-top: 40em;
}

.demo h1 {
  display: block;
  font-size: 6em;
  font-weight: bold;
  text-align: center;
  color: hsl(120, 93%, 29%);
}

.bottom {
  color: #dfdfdf
}

.loader {
  display: inline;
}

.login button {
  display: block;
  margin-top: 1em;
  margin-bottom: 2em;
  background-color: #C2FBD7;
  border-radius: 5em;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;          
  color: hsl(120, 93%, 29%);
  cursor: pointer;
  width: 8em;
}

input {
  display: block;
}

label {
  margin-top: 1em;
}

.demo input {
  display: block;
  margin-bottom: 2em;
  background-color: #C2FBD7;     
  width: 20em;
}

#alert {
  color: red;
  margin-bottom: 1em;
}

#message {
  color: blue;
  font-size: 4em;
  margin-bottom: 1em;
}
