.demo h2 {
  position: absolute;
  top: -40px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  padding-bottom: 20px;
}

.bottom {
  color: #dfdfdf
}

.loader {
  display: inline;
}

button,
input {
  display: block;
  margin-bottom: 10px;
}

#alert {
  color: red;
  margin-bottom: 10px;
}
